@import "../../theme-base";
.comments-list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: $spacer / 2;
  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.comments-item {
  padding: 30px;
  background-color: $white-200;
  border-radius: $border-radius-sm;
  @include media-breakpoint-down(sm) {
    padding: 20px;

  }
}
.comments-card {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    background-color: $gray-600;
    border-radius: $tag-border-radius;
    overflow: hidden;
    float: left;
    margin-right: 10px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name {
    font-weight: $font-weight-medium;
    display: inline-block;
    color: $red;
    transition: transform .2s;
    @include hover-focus() {
      color: $red;
      text-decoration: none;
      transform: scale(0.98);
      transition: transform .2s;
    }
  }
  &__date {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__text {
    color: $blue-dark;
  }
  &__nav {
    display: flex;
  }
}

.comments-card__comments-inner {
  padding-left: 50px;
  @include media-breakpoint-down(sm) {
    padding-left: 20px;
  }
  .comments-card {
    padding-top: 30px;
    border-top: 1px solid $gray-400;
  }
}