@import "../theme-base";

.simplebar-track.simplebar-vertical {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $gray-450;
  width: 5px;
  right: -10px;
}

.simplebar-scrollbar::before {
  width: 100%;
  left: 0;
  background-color: $red;
  border-radius: $scrollbar-radius;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1 !important;
}


