@import "../theme-base";

.post-list {
  display: grid;
  grid-gap: 20px;
  &_sm {
    grid-template: auto auto / auto auto;
    @include media-breakpoint-down(sm) {
      grid-template: auto / auto;
    }
  }
}

.post-preview {
  display: grid;
  grid-gap: $gutter-width;
  padding-bottom: $gutter-width / 2;
  border-bottom: 1px solid $gray;
  &__header {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: $spacer;
    @include media-breakpoint-down(sm) {
      grid-gap: $spacer / 2;
    }
  }
  &__statistic {
    padding-bottom: 13px;
  }
  &__title {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    color: $black;
    line-height: 26em / $font-size-value;

    @include hover-focus() {
      color: $black;
      text-decoration: none;
    }
  }
  &__video-wrap {
    position: relative;
  }
  &__slider-wrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
  }
}

.post-preview {
  &_board {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    border-radius: 0px;
    overflow: hidden;
    padding: 0;
    height: 100%;
    @include media-breakpoint-up(md) {
      border-radius: 5px;
      .post-preview__image {
        border-radius: 5px;
      }
    }
    @include media-breakpoint-down(md) {
      grid-auto-rows: auto auto;
      border: none;
      height: auto;
    }

    .post-preview__image {
      grid-row: 1;
      grid-column: 1;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      @media screen and ( max-width: 576px ) {
        min-height: auto;
      }

    }
    .post-preview__header {
      padding: 30px;
      grid-auto-flow: row;
      justify-items: start;
      align-content: end;
      grid-row: 1;
      grid-column: 1;
      background: linear-gradient(180deg, rgba(19, 18, 19, 0) 20.83%, #131213 100%);
      @include media-breakpoint-down(sm) {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include media-breakpoint-down(md) {
        grid-row: 2;
        background: transparent;

      }
    }

    .post-preview__title {
      font-size: $font-size-lg;
      color: $white;
      font-weight: $font-weight-bold;
      @include media-breakpoint-down(md) {
        color: $black;
        font-size: $font-size-md;
        line-height: 30px;
      }
    }
    .post-preview__text {
      color: $white;
      line-height: 25px;
      margin: 0;
      @include media-breakpoint-down(md) {
        color: $black;
      }
    }
  }
  &_column {
    min-height: 166px;
    grid-template-columns: 238px 1fr;
    grid-template-rows: 1fr;
    border-bottom: none;
    @include media-breakpoint-down(sm) {
      grid-template-rows: auto auto;
      grid-template-columns: minmax(80px, min-content) 1fr;
    }
    .post-preview__text {
      margin: 0;
    }
    .post-preview__title  {
      font-size: $font-size-md;
      font-weight: $font-weight-bold;
      line-height: calc(26em / 20);
      @include media-breakpoint-down(sm) {
        font-size: $font-size-base;
      }
    }
    .post-preview__statistic {
      padding-bottom: 0;
      align-items: flex-end;
    }
    .post-preview__image {
      width: 100%;
      grid-row: 1;
      border-radius: $border-radius-sm;
      height: 100%;
      max-width: 80px;
      max-height: 80px;
      @include media-breakpoint-down(sm) {
        object-fit: cover;
      }
      @include media-breakpoint-up(sm) {
        max-width: 100%;
        height: 100vh;
        max-height: 166px;
      }
    }

    .post-preview__main {
      padding-top: $gutter-width * 1.5;
      display: grid;
      grid-gap: 8px;
      grid-template-rows: auto auto 1fr auto;
      border-top: 1px solid $gray;
    }
    &:first-child {
      .post-preview__main {
        border-top: none;
        padding-top: 0;
      }
    }
  }
  &_video {
    width: 100%;
    border: none;
    @include media-breakpoint-down(md) {
      width: auto;
    }
    .post-preview__videos {width: 100%};

  }
  &_video-sm {
    @include media-breakpoint-down(sm) {
      grid-template-columns: 75px auto;

      .post-preview__main {
        padding-right: 15px;
      }
      .post-preview__title {
        font-size: $font-size-sm;
        font-weight: $font-weight-base;
      }
      .post-preview__videos {
        max-width: 75px;
        height: 52px;
      }
    }

  }
  
 }

.post-preview_video-big {

    .post-preview__videos {
      max-height: 330px;
      width: 100%;
      margin: 0 auto;
      height: 200px;
      @include media-breakpoint-down(sm) {
      }
      @include media-breakpoint-up(md) {
        height: 100vh;
      }

    }

  .post-preview__main {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.post-info {
  display: inline-flex;
  font-size: 14px;
  color: $gray;
  &__date {
    display: flex;
    align-items: center;
  }
  &__name {
    &_strong {
      font-weight: $font-weight-bold;
      color: $blue-dark;
    }
  }

  &__time {
    position: relative;
    margin-left: 14px;
    &:before {
      content: '';
      position: absolute;
      left: -9px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: $gray;
      border-radius: 50%;
    }
  }

}

.preview-statistic {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-gap: 20px;
  font-size: $font-size-sm;
  color: $gray;
  &__counter {
    display: flex;
    align-items: center;
  }
  &__posts-counter {
    display: flex;
    align-items: center;
  }
  &__num {
    margin-left: 5px;
  }
  &__new-post {
    color: $green;
    margin-left: 8px;
  }
}

