@import "../theme-base";

.tabs-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-gap: 50px;
  border-bottom: 1px solid rgba($gray, $bth-light-alpha-md);

  &__btn {
    position: relative;
    text-transform: uppercase;
    color: $blue-dark;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 9px;
    transition: all .2s;

    &.active {
      &:before {
        background-color: $gray-600;
        transition: all .2s;
      }

      &.red {
        &:before {
          background-color: $red;
        }
      }

      &.green {
        &:before {
          background-color: $green;
        }
      }

    }

    &:hover {
      text-decoration: none;
      color: $red;
      transition: all .2s;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 2px;
      width: 100%;
      background-color: transparent;
      border-radius: 2px;
      transition: all .2s;

    }
  }
}

@include media-breakpoint-down(md) {
  .tabs-menu {
    justify-content: center;
    grid-gap: 10px;
    border-bottom: none;
    &__btn {
      font-weight: $font-weight-bold;
      color: $gray;
      padding: 10px 15px;
      border-radius: $border-radius;

      &::before {
        display: none;
      }

      &.active {
        color: $black;
        background-color: $gray;
      }
      &.radius-lg {
        border-radius: $border-radius-lg;
      }
      @each $color, $value in $theme-colors {
        &.#{$color} {
          &.active {
            background-color: rgb($value, $bth-light-alpha);
            color: $value;
          }
        }
        @include media-breakpoint-down(md) {
          &.md-#{$color} {
            &.active {
              background-color: rgb($value, $bth-light-alpha);
              color: $value;
            }
          }
        }
      }
    }
  }
}

