@import "../theme-base";

.fz-sm {
  font-size: $font-size-sm;
}

@include media-breakpoint-down(md) {
  .fixed-md-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .pt-md-full {
    padding-top: 108px;
  }
}


.scroll-of {
  overflow-y: hidden;
}

.notice {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    width: 10px;
    height: 10px;
    background-color: $red-100;
    border-radius: 50%;
  }
  &_sm {
    &::before {
      width: 6px;
      height: 6px;
    }
  }
}