@import "../../theme-base";
.nav-user {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 35px;
  justify-content: end;
  align-items: center;
  @include media-breakpoint-down(sm) {
    width: 100%;
    justify-content: center;
    grid-column-gap: 30px;
  }
  &__link {
    position: relative;
    color: $gray-250;
    &:hover {
      color: $red;
    }

  }

}