@import "../../theme-base";
.nav-user {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 35px;
  @include media-breakpoint-down(sm) {
    grid-column-gap: 25px;
  }
  &__link {
    position: relative;
    color: $gray-250;
    &:hover {
      color: $red;
    }

  }
}