@import "../../theme-base";

.label {
  height: calc(26rem / 16);
  border: 1px solid #fff;
  border-radius: calc(6rem / 16);
  font-size: calc(12rem / 16);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  padding: 0 10px;
  @each $color, $value in $theme-colors {
    &_#{$color} {
      color: $value;
      border-color: $value;
    }
    &_text-#{$color} {
      color: $value;
    }
  }
  @include media-breakpoint-down(md) {
    @each $color, $value in $theme-colors {
      &_text-md-#{$color} {
        color: $value;
      }
    }
  }

}

.label {
  &_sm {
    padding: 0 5px;
  }
}

.label {
  &__text {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &_icon {
    @include media-breakpoint-down(md) {
      font-size: 0;
      padding: 0 5px;
    }
    .label__icon {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }
}

.label-fill {
  font-size: $font-size-sm;
  padding: 16.5px 19px;
  letter-spacing: normal;
  border-radius: $border-radius;
  @each $color, $value in $theme-colors {
    &_#{$color} {
      background-color: rgba($value, $bth-light-alpha-2);
      border: none;
      transition: background-color .2s;
      @include hover-focus() {
        transition: background-color .2s;
        background-color: rgba($value, $bth-light-alpha);
        color: $value;
        text-decoration: none;
      }

      &.active {
        background-color: $value;
        color: $white;
      }
      &.no-hover {
        background-color: rgba($value, $bth-light-alpha-2);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    font-size: $font-size-ms;
    padding: 14px 17.5px;
  }
}

.labels-sm {
  .label-fill {
    max-width: 88px;
  }
}

.date-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $gray;
  border-radius: $border-radius;
  max-width: 54px;
  width: 100%;
  @include media-breakpoint-down(sm) {
    border: none;
  }

  &__number {
    color: $red;
    font-size: $date-label-month-md;
    font-weight: $font-weight-medium;
  }

  &__month {
    font-size: $date-label-month-sm;
    color: $black-200;
  }
}

