@import "src/styles/theme-base";

h1, .h1 {
  margin-bottom: 0;
  @include media-breakpoint-down(lg) {
    font-size: $font-size-lg;
  }
}


@include media-breakpoint-up(sm) {
  .w-sm-auto {
    width: auto !important
  }
}


.card-img-overlay {
  padding: calc(30rem / 16);
}



.breadcrumb {
  background-color: transparent;
  padding-left: 0;

  .breadcrumb-item {
    font-size: $font-size-sm;

    a {
      color: $gray-600;
    }

    &.active {
      color: $red;
    }

  }
}

.blockquote {
  font-size: $font-size-sm;
  padding-left: 20px;
  position: relative;
  display: grid;
  grid-gap: $spacer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 3px;
    height: 100%;
    background-color: $red;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-ms;
  }
}


.custom-radio {
  &.w-20 {
    padding-left: 0;
    .custom-control-input {
      width: 20px;
    }

    .custom-control-label {
      padding-left: 30px;
      &::before,
      &::after {
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
      }
    }
  }
}
