@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "theme-base";

// Опциональное
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/forms";

// Swiper
@import "node_modules/swiper/swiper";
@import "node_modules/swiper/components/pagination/pagination";

// custom scrollbar https://github.com/Grsmto/simplebar/tree/master/packages/simplebar
@import "node_modules/simplebar/dist/simplebar";

//Editor quilljs
@import "node_modules/quill/dist/quill.core";
@import "node_modules/quill/dist/quill.snow";

@import "node_modules/quill-emoji/dist/quill-emoji";
@import "overrides/index";
@import "components";

// другие стили писать тут
@import "common";

.preloader {
  opacity: 0;
  display: none;
}
.header {
  padding-bottom: 0;
  height: auto;
  margin-bottom: 0;
}

.navbar-main__collapse {
  opacity: 1;
}
.post-preview:before,
.fighter-category:before,
.navbar-main::before {
  content: '';
  display: none;
}