@import "../../theme-base";

.btn-checkbox {
  width: 19px;
  height: 19px;
  border: 1.8px solid $red;
  border-radius: $tag-border-radius;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  .icon {
    opacity: 0;
    transition: opacity .2s;
    color: $red;
    width: 100%;
  }
  &.active .icon {
    opacity: 1;
    transition: opacity .2s;
  }
}