@import "../../theme-base";

.btn-icon {
  background-color: transparent;
  border: none;
  color: $gray-600;
  transition: color .1s;
  &__text {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }
  @include hover-focus() {
    color: $red;
    transition: color .1s;
  }
  &.lock {
    color: $red;
  }
  &.liked {
    color: $green;
  }
}

@each $color, $value in $theme-colors {
  .btn-icon_#{$color} {
   @include hover-focus() {
     color: $value;

   }
  }
}

