@import "../../theme-base";

.search-group {
  display: flex;
  &__input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  &__clear-btn {
    grid-column: 2;
    grid-row: 1;
  }
  &__input {
    grid-column: 1 / 3;
    grid-row: 1
  }
  @include media-breakpoint-down(sm) {
    &__input-wrapper {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
    }
  }

  .input {
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
    @include media-breakpoint-down(sm) {
      box-shadow: 0px 0px 3px $blue-dark;
      border-radius: 0;
    }
  }
  &.active {
    > .input {
      visibility: inherit;
      @include media-breakpoint-down(sm) {
        border-bottom: 2px solid $blue-dark;
        border-radius: 0;
      }
    }
    .search-btn {
      color: $red;
    }
  }
}
.input-group {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;

  > .btn {
    margin-left: -20px;
  }
}

.input {
  width: 100%;
  border-radius: $border-radius;
  border: none;
  background-color: #F8F8F8;
  border: 1px solid transparent;
  color: $blue-dark;

  &:focus {
    outline: none;
    border: 1px solid $red;
  }

  &_big {
    padding: 14px 25px 14px 20px;
  }
  &_sm {
    padding: 9px 10px 8px 18px;
    line-height: 18px;
  }

  @each $color, $value in $theme-colors {
    &.#{$color} {
      &::placeholder {
        color: $value;
      }
    }
  }
}

.input-search {
  padding-right: 30px;
}

.input-radius {
  &_sm {
    border-radius: $border-radius-sm;
  }
}