@import "../../theme-base";

.similar-news {
  &__wrapper {
    display: grid;
    grid-gap: 20px;
  }
}

.post-info {
  display: inline-flex;
  font-size: $font-size-sm;
  color: $gray;
  align-items: center;
  @each $color, $value in $theme-colors {
    &.#{$color} {
      color: $value;
    }
  }
  &_before-line {
    padding-left: 15px;
    border-left: 1px solid $gray-200;
  }
  &_sm {
    @include media-breakpoint-down(sm) {
      font-size: $font-size-ms;
    }
  }
  &__date {
    display: flex;
    align-items: center;
  }
  &__name {
    &_strong {
      font-weight: $font-weight-bold;
      color: $blue-dark;
    }
  }

  &__time {
    position: relative;
    margin-left: 14px;
    &:before {
      content: '';
      position: absolute;
      left: -9px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: $gray;
      border-radius: 50%;
    }
  }
  &__author {
    color: $gray;
    font-weight: $font-weight-medium;
    padding-right: 10px;
    position: relative;

    @each $color, $value in $theme-colors {
      &.#{$color} {
        color: $value;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
}
@each $color, $value in $theme-colors {
  .post-info_#{$color} {
    color: $value;
    .post-info__time::before {
      background-color: $value;
    }
  }
}

.preview-statistic {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-gap: 20px;
  font-size: $font-size-sm;
  color: $gray;
  @each $color, $value in $theme-colors {
    &.#{$color} {
      color: $value;
    }
  }
  &__counter {
    display: flex;
    align-items: center;
  }
  &__posts-counter {
    display: flex;
    align-items: center;
  }
  &__num {
    margin-left: 5px;
  }
  &__new-post {
    color: $green;
    margin-left: 8px;
  }
}

