@import "../../theme-base";
.post-header {
  display: grid;
  grid-gap: $spacer / 2;

  &__body {
    display: grid;
    grid-template-areas:
        'title title title title'
        'label post-statistic space post-meta';
    grid-gap: 10px;
    @include media-breakpoint-down(sm) {
      grid-template-areas:
        'label post-statistic'
        'title title'
        'post-meta post-meta';
      grid-template-columns: auto 1fr;
    }
  }
  &__title {
    grid-area: title;
  }
  &__label {
    grid-area: label;
  }
  &__statistic {
    grid-area: post-statistic;
  }
  &__post-info {
    align-items: center;
    grid-area: post-meta;
  }
}

.post-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $blue-dark;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    &_sm {
      font-size: $font-size-base;
    }
  }
}
